<div class="section">
    <span class="medium-text section-title"> Contact details </span>
    <table class="contact-details">
        <tbody>
            <tr>
                <td>
                    <a href="mailto:alv.barrosc@hotmail.com">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                    </a>
                </td>
                <td style="text-align: left;">
                    <a href="mailto:alv.barrosc@hotmail.com">
                        <span class="small-text">
                            alv.barrosc@hotmail.com
                        </span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://www.linkedin.com/in/alvaro-de-carvalho-a88a92146">
                        <fa-icon [icon]="faLinkedinIn"></fa-icon>
                    </a>
                </td>
                <td style="text-align: left;">
                    <a href="http://www.linkedin.com/in/alvaro-de-carvalho-a88a92146">
                        <span class="small-text">
                            LinkedIn
                        </span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.github.com/alvbarros">
                        <fa-icon [icon]="faGithub"></fa-icon>
                    </a>
                </td>
                <td style="text-align: left;">
                    <a href="https://www.github.com/alvbarros">
                        <span class="small-text">
                            Github
                        </span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>