div.profile-picture {
    padding: 5% 10%;
    position: relative;
    margin-bottom: 2em;
}
.profile-picture img {
    position: relative;
    width: 100%;
    text-align: center;
    border-radius: 100%;
    border: 3px solid white;
    box-sizing: border-box;
}
.profile-picture div.glass-reflection {
    overflow: hidden;
    height: 4em;
    position: absolute;
    left: 0;
    top: 100%;
}
.profile-picture div.glass-reflection img.reversed {
    transform: rotate(180deg);
}
.profile-picture div.glass-reflection::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, 
                      rgba(9, 46, 77, 0.7), 
                      rgba(9, 46, 77, 1.0) 70%);
    width: 100%;
    height: 4em;
}

.who {
    z-index: 2;
    margin-top: -3.6em;
    width: 100%;
    position: relative;
    text-align: center;
}
.who h1 {
    font-size: 2.0vw;
    font-weight: 500;
}
.who h3 {
    font-size: 1.5vw;
    font-weight: 100;
}
.who h1,
.who h3 {
    margin: 0;
}