/* div.profile-box,
div.other-box {
    float: left;
}

div.other-box {
    padding: 2.5vw;
} */

div#app { width: 100vw; height: 100vh; }

/* Mobile Users */
@media (max-width: 800px){
    div#app {
        background-color: red;padding: 0;
    }
}

/* Desktop Users */
@media (min-width: 801px) {
    div#app {
        background-color: green;
        padding: 2em;
    }
}