table,
table tbody,
table body tr {
    width: 100%;
}
table {
    padding: 0 10%;
}
table tbody tr td {
    font-size: 1vw;
}
table tbody tr td:first-child {
    width: 35%;
}
table tbody tr td:nth-child(2) {
    width: 65%;
}