<!-- 
    <div class="profile-inner">
        <div id="profile-picture">
            <app-profile-picture></app-profile-picture>
        </div>
        <div id="profile-summary">
            <app-profile-summary></app-profile-summary>
        </div>
    </div> 
-->
<app-profile-picture></app-profile-picture>
<!-- 
    <div class="profile-history collapse" id="profile-history-toggle">
        history
    </div>
    <button class="profile-history-div" type="button" data-toggle="collapse" data-target="#profile-history-toggle" aria-expanded="false" aria-controls="profile-history-toggle">
        <fa-icon [icon]="faAngleDoubleRight" id="showHistory"></fa-icon>
        <fa-icon [icon]="faAngleDoubleLeft" id="hideHistory" style="display: none;"></fa-icon>
    </button> 
-->