:host {
    display: block;
    background-color: rgba(9, 46, 77, 1.0);
}

/* Mobile Users */
@media (max-width: 800px){
    :host {
        width: 100%;
        height: 30%;
    }
}

/* Desktop Users */
@media (min-width: 801px) {
    :host {
        display: block;
        width: 250px;
        height: 100%;
        border-radius: 12px;
        box-shadow: 0px 2px 10px 0px black;
    }
}