/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.section {
    margin-top: 1em;
    margin-bottom: 1em;
}
span.section-title {
    padding-left: 5%;
    font-weight: 500;
}

@media only screen and (min-width: 1920px) and (min-height: 1080px) { 
    span.medium-text {
        font-size: 24px;
    }
    span.small-text {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1366px) and (min-height: 768px) { 
    span.medium-text {
        font-size: 24px;
    }
    span.small-text {
        font-size: 20px;
    }
}
@media only screen and (min-width: 1280px) and (min-height: 800px) { 
    span.medium-text {
        font-size: 22px;
    }
    span.small-text {
        font-size: 18px;
    }
}
@media only screen and (max-width: 800px) and (max-height: 600px) { 
    span.medium-text {
        font-size: 12px;
    }
    span.small-text {
        font-size: 10px;
    }
}